# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientist use are:
1. Python
2. R language
3. Scala
4. SQL

Some of commonly used libraries used by Data Scientist includes:
1. TensorFlow
2. PyTorch
3. Pandas

| Data Science Tools |
|--------------------|
| R studio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to multiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

# Objectives

* Python
* R language
* Scala
* Swift
* Java
* Julia
* SQL

## Author

Ragavisruthi kumaresan